@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #04171a;
}

h1 {
  font-size: 3.625rem;
  width: 20ch;
}

p {
  font-size: 1.125rem;
  width: 65ch;
}
